@charset "UTF-8";
/**
    Author: Anas
    Author email: devanas124@gmail.com
    Version: 0.0.0.1
**/

/**
----------------
Table Of Content
----------------
0. Common CSS Start
1. Backtotop CSS Start
2. Navbar CSS Start
3. 
4. 
5. 
6. 
**/

/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span,
address,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

b {
  font-weight: 700;
}

img,
svg {
  vertical-align: middle;
}

body {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: 400;
}

/* Backtotop CSS Start */

/* .backtotop i {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  color: white;
  background-color: #0E44CF;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border: 1px solid transparent;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  display: none;
  z-index: 99;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.backtotop i:hover {
  background-color: white;
  color: #0E44CF;
} */

/* Navbar CSS Start */
.main_navbar {
  padding: 10px 0;
  /* position: fixed;
  width: 100%; */
}

.main_navbar ul {
  background-color: #F4F4F4;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  overflow: hidden;
}

.main_navbar ul li a {
  padding: 13px 13px 12px 24px !important;
  font-size: 16px;
  color: #3B3B3B;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-transform: capitalize;
}

.main_navbar ul li a.active {
  background-color: #1d73f54f;
  color: #1D73F5 !important;
  font-weight: 500;
}

.main_navbar ul li a:hover {
  background-color: #1d73f54f;
  color: #1D73F5 !important;
  font-weight: 500;
}

.main_navbar ul li a::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 15%;
  background-color: #3B3B3B;
  height: 5px;
  width: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.main_navbar ul li a:hover::after,
.main_navbar ul li a.active::after {
  background-color: #1d73f5;
}

.main_navbar .book_btn a {
  padding: 8px 15px;
  background-color: #1D73F5;
  color: white;
  border: 1px solid #1D73F5;
  border-radius: 14.5px;
  -webkit-border-radius: 14.5px;
  -moz-border-radius: 14.5px;
  -ms-border-radius: 14.5px;
  -o-border-radius: 14.5px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s esae;
  -moz-transition: all 0.3s esae;
  -ms-transition: all 0.3s esae;
  -o-transition: all 0.3s esae;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main_navbar .book_btn a:hover {
  color: #1D73F5;
}

.main_navbar .book_btn a::after {
  position: absolute;
  content: '';
  height: 0;
  width: 100%;
  background-color: white;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  z-index: -1;
}

.main_navbar .book_btn a:hover::after {
  height: 180px;
}